<h1>add recipe</h1>
<script src="/public/script/addrecipe.js" language="Javascript" type="text/javascript"></script>

<form action="/recipe/add" method="post">
    <div>
        <label>Tittle:</label>
        <input type="text" name="title" />
    </div>

    <div id="ingredientsdiv">
        <div>
            <label>ingredient:</label>
            <input type="text" name="ingredients[]" />
            <label>ammount:</label>
            <input type="text" name="amounts[]" />
        </div>
    </div>
    <input type="button" value="Add another text input" onClick="addInputs('ingredientsdiv');">
    <input type="button" value="Delete one text" onClick="removeInputs('ingredientsdiv');">
    <div id="stepsdiv">
        <div>
            <label>steps:</label>
            <input type="text" name="steps[]" />
        </div>
    </div>
    <input type="button" value="Add another text input" onClick="addInputs('stepsdiv');">
    <input type="button" value="Delete one step" onClick="removeInputs('stepsdiv');">
    <div>
        <input id="upload-blog-picture" type="file" name="images" required>
    </div>
    <div>
        <input type="submit" value="submit" />
    </div>
</form>