<h1>add recipe</h1>
<script src="/public/script/addrecipe.js" language="Javascript" type="text/javascript"></script>

<form action="/recipe/add" method="post">
    <div>
        <label>Tittle:</label>
        <input type="text" name="title" />
    </div>
    
    <div id = "ingredientsdiv">
        <label>ingredient:</label>
        <input type="text" name="ingredients[]" />
        <label>ammount:</label>
        <input type="text" name="amounts[]" />
    </div>
    <input type="button" value="Add another text input" onClick="addInputs('ingredientsdiv');">
    <div id = "stepsdiv">
        <label>steps:</label>
        <input type="text" name="steps[]" />
    </div>
    <input type="button" value="Add another text input" onClick="addInputs('stepsdiv');">
    <div>
        <input type="submit" value="submit" />
    </div>
</form>