{{#if header}}
{{header}}
{{/if}}
<p>index</p>
{{session}}
<p>
    <a href='/user/login'>login</a> 
</p>
<p>
    <a href='/user/logout'>logout</a>
</p>
<p>
    <a href='/user/profile'>my profile</a>
</p>