{{#if message }}
<div class="alert alert-danger" role="alert">
    {{message }}
</div>
{{/if}}
<form action="/user/registration" method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Nickname:</label>
        <input type="text" name="nickname" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="registration" />
    </div>
</form>
<a href="/user/login">Have an accoutn? login</a>