

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.btn-link-2 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

/***** Top menu *****/

.navbar {
	margin-bottom: 0;
	background: #0b4396;
	border: 0;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

ul.navbar-nav {
	font-size: 15px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border: 0; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border: 0; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border: 0; }

.navbar-brand {
	width: 80px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}

/***** Top content *****/

.top-content { padding: 150px 0 200px 0; }

.top-content .text { color: #fff; }
.top-content .text h1 { color: #fff; }

.top-content .description { margin: 20px 0 60px 0; }
.top-content .description p { opacity: 0.8; }
.top-content .description a { color: #fff; border-bottom: 1px dotted #fff; }
.top-content .description a:hover, .top-content .description a:focus { color: #fff; border: 0; }

.subscribe { position: relative; color: #fff; }
.subscribe .success-message { display: none; opacity: 0.8; }
.subscribe .error-message { display: none; position: absolute; left: 0; bottom: -60px; width: 100%; opacity: 0.8; }

.subscribe input[type="text"] {
	width: 360px;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe input[type="text"]:focus {
	outline: 0; background: #fff; border: 3px solid #89cc2d;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.subscribe input[type="text"]::-moz-placeholder { color: #888; }
.subscribe input[type="text"]:-ms-input-placeholder { color: #888; }
.subscribe input[type="text"]::-webkit-input-placeholder { color: #888; }

.subscribe button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #89cc2d;
    border: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.subscribe button.btn:hover { opacity: 0.6; color: #fff; }
.subscribe button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.subscribe button.btn:focus { outline: 0; opacity: 0.6; background: #89cc2d; color: #fff; }
.subscribe button.btn:active:focus, .subscribe button.btn.active:focus { outline: 0; opacity: 0.6; background: #89cc2d; color: #fff; }

.subscribe button i { padding-left: 5px; vertical-align: middle; font-size: 20px; line-height: 20px; }



/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content1 .text {
	color: #fff;
}

.top-content1 .text h1 { color: #fff; }

.top-content1 .description {
	margin: 20px 0 10px 0;
}

.top-content1 .description p { opacity: 0.8; }

.top-content1 .description a {
	color: #fff;
}
.top-content1 .description a:hover, 
.top-content1 .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
	padding-bottom: 70px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; 
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
	
}

@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }

}


.nav .open > a {
background-color: transparent;
}
.nav .open > a:hover {
background-color: transparent;
}
.nav .open > a:focus {
background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	padding-left: 0;
	transition: all 0.5s ease;
  }
  #wrapper.toggled {
	padding-left: 220px;
  }
  #wrapper.toggled #sidebar-wrapper {
	width: 220px;
  }
  #wrapper.toggled #page-content-wrapper {
	margin-right: -220px;
	position: absolute;
  }
  #sidebar-wrapper {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	background: #1a1a1a;
	height: 100%;
	left: 220px;
	margin-left: -220px;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all 0.5s ease;
	width: 0;
	z-index: 1000;
  }
  #sidebar-wrapper::-webkit-scrollbar {
	display: none;
  }
  #page-content-wrapper {
	padding-top: 70px;
	width: 100%;
  }

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 220px;
  }
  .sidebar-nav li {
	display: inline-block;
	line-height: 20px;
	position: relative;
	width: 100%;
  }
  .sidebar-nav li:before {
	background-color: #1c1c1c;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 3px;
	z-index: -1;
  }
  .sidebar-nav li:first-child a {
	background-color: #1a1a1a;
	color: #ffffff;
  }
  .sidebar-nav li:nth-child(2):before {
	background-color: #402d5c;
  }
  .sidebar-nav li:nth-child(3):before {
	background-color: #4c366d;
  }
  .sidebar-nav li:nth-child(4):before {
	background-color: #583e7e;
  }
  .sidebar-nav li:nth-child(5):before {
	background-color: #64468f;
  }
  .sidebar-nav li:nth-child(6):before {
	background-color: #704fa0;
  }
  .sidebar-nav li:nth-child(7):before {
	background-color: #7c5aae;
  }
  .sidebar-nav li:nth-child(8):before {
	background-color: #8a6cb6;
  }
  .sidebar-nav li:nth-child(9):before {
	background-color: #987dbf;
  }
  .sidebar-nav li:hover:before {
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 100%;
  }
  .sidebar-nav li a {
	color: #dddddd;
	display: block;
	padding: 10px 15px 10px 30px;
	text-decoration: none;
  }
  .sidebar-nav li.open:hover before {
	-webkit-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
	width: 100%;
  }
  .sidebar-nav .dropdown-menu {
	background-color: #222222;
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
  }
  .sidebar-nav li a:hover,
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus,
  .sidebar-nav li.open a:hover,
  .sidebar-nav li.open a:active,
  .sidebar-nav li.open a:focus {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
  }
  .sidebar-nav > .sidebar-brand {
	font-size: 20px;
	height: 65px;
	line-height: 44px;
  }


  /*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
	background: transparent;
	border: none;
	display: block;
	height: 32px;
	margin-left: 15px;
	position: fixed;
	top: 20px;
	width: 32px;
	z-index: 999;
  }
  .hamburger:hover {
	outline: none;
  }
  .hamburger:focus {
	outline: none;
  }
  .hamburger:active {
	outline: none;
  }
  .hamburger.is-closed:before {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	color: #ffffff;
	content: '';
	display: block;
	font-size: 14px;
	line-height: 32px;
	opacity: 0;
	text-align: center;
	width: 100px;
  }
  .hamburger.is-closed:hover before {
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	display: block;
	opacity: 1;
  }
  .hamburger.is-closed:hover .hamb-top {
	-webkit-transition: all 0.35s ease-in-out;
	top: 0;
  }
  .hamburger.is-closed:hover .hamb-bottom {
	-webkit-transition: all 0.35s ease-in-out;
	bottom: 0;
  }
  .hamburger.is-closed .hamb-top {
	-webkit-transition: all 0.35s ease-in-out;
	background-color: rgba(255, 255, 255, 0.7);
	top: 5px;
  }
  .hamburger.is-closed .hamb-middle {
	background-color: rgba(255, 255, 255, 0.7);
	margin-top: -2px;
	top: 50%;
  }
  .hamburger.is-closed .hamb-bottom {
	-webkit-transition: all 0.35s ease-in-out;
	background-color: rgba(255, 255, 255, 0.7);
	bottom: 5px;
  }
  .hamburger.is-closed .hamb-top,
  .hamburger.is-closed .hamb-middle,
  .hamburger.is-closed .hamb-bottom,
  .hamburger.is-open .hamb-top,
  .hamburger.is-open .hamb-middle,
  .hamburger.is-open .hamb-bottom {
	height: 4px;
	left: 0;
	position: absolute;
	width: 100%;
  }
  .hamburger.is-open .hamb-top {
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
	background-color: #ffffff;
	margin-top: -2px;
	top: 50%;
  }
  .hamburger.is-open .hamb-middle {
	background-color: #ffffff;
	display: none;
  }
  .hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
	background-color: #ffffff;
	margin-top: -2px;
	top: 50%;
  }
  .hamburger.is-open:before {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	color: #ffffff;
	content: '';
	display: block;
	font-size: 14px;
	line-height: 32px;
	opacity: 0;
	text-align: center;
	width: 100px;
  }
  .hamburger.is-open:hover before {
	-webkit-transform: translate3d(-100px, 0, 0);
	-webkit-transition: all 0.35s ease-in-out;
	display: block;
	opacity: 1;
  }
  /*-------------------------------*/
  /*          Dark Overlay         */
  /*-------------------------------*/
  .overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
  }
  .divtop{
	 width: 10px;
	 height:  10px;
  }
